@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-pt-serif: "PT Serif", serif;
  --color-wood-50: #f9f7f5;
  --color-wood-100: #f0ebe6;
  --color-wood-200: #e0d4c9;
  --color-wood-300: #d0bca9;
  --color-wood-400: #a8906f;
  --color-wood-500: #553C2A;
  --color-wood-600: #4d3625;
  --color-wood-700: #3f2d1f;
  --color-wood-800: #322419;
  --color-wood-900: #261c14;
  --color-wood-950: #1a130d;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
